html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block
}

.main-content {
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 80vh;
}

@media (max-width: 600px) {
  .main-content {
    padding: 0.75rem;
  }
}
