.compare-header h2 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.comparison-result {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.comparison-grid-h3 {
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

.comparison-grid {
  display: flex;
  width: 100%;
  max-width: 1200px;
  box-sizing: border;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1rem;
}

.product-left-side,
.product-right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  background: rgb(238, 227, 213);
  border: rgb(228, 199, 161);
  border-radius: 1rem;
  font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
  text-align: center;
}
.product-left-side {
    justify-content: center;
}

.product-left-side h4,
.product-right-side h4 {
  text-align: center;
  color: black;
}

.product-difference {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  background: #dfdbdb;
  border: 1px solid #413e3e;  
  border-radius: 1rem;
  margin-top: 5.2rem;
  text-align: center;
  font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
}

.diff-positive {
  color: green;
}

.diff-negative {
  color: red;
}

.diff-neutral {
  color: gray;
}

.button-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 4.5%;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 9999;
}

.button-container button {
  font-size: clamp(1rem, 2vw + 1.25rem, 2rem);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

@media (max-width: 768px) {

  .product-page {
    padding: 0.5rem;
  }

  .product-card {
    min-width: none;
    padding: 0.2rem;
  }

  .product-list {
    gap: 0.5rem;
  }

  .comparison-grid {
    flex-direction: column;
    align-items: center;
  }

  .product-left-side,
  .product-right-side {
    width: 100%;
  }
.product-left-side p {
  margin: 0.4rem;
}

.product-right-side p {
  margin: 0.4rem;
}

.product-difference {
  margin: 0;
}

.product-difference p {
  margin: 0.4rem
}

}