
.form-create-product {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  background: #eceaea;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

label {
  font-weight: 600;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.form-create-product input {
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
  padding-left: 0.2rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
}

.form-section-nutritonalContent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
}

.form-section h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #000000;
}

@media (max-width: 768px) {

  .form-create-product {
    width: 90%;
  }

  .form-create-product h3 {
    margin-top: 0;
  }

}
