.product-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80%;
}

.product-search {
  box-sizing: border-box;
  border: 1px solid #363636;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: #eceaea;
  font-size: clamp(1rem , 2vw + 0.5rem, 1.25);
  font-weight: bold;
  max-width: 400px;
  padding: 0;
  padding-left: 0.3rem;
}

.product-list {
  display: flex;
  flex: row;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: auto;
  align-items: center;
  border: 2px solid rgb(228, 199, 161);
  background-color: rgb(238, 227, 213);
  border-radius: 2rem;
  padding: 2rem;
}

.product-image {
  max-width: 100%;
  max-height: 150px;
  border-radius: 1rem;
}

.product-card h2 {
  font-size: clamp(1.2rem, 2vw + 1rem, 2rem);
}

.product-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem 1rem; 
  text-align: left;
}

.product-info span {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.15rem);
}

.product-info p {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.15rem);
  margin: 0;
}

.nutritionalContent-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem 1rem;
  text-align: left;
}

.nutritionalContent h2 {
  font-size: clamp(1.2rem, 2vw + 1rem, 1.35rem);
}

.nutritionalContent-info span {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.15rem);
}

.nutritionalContent-info p {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.15rem);
  margin: 0;
}

.nutritionalContent {
  border-top: 1px solid #444;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.6rem;
  padding-top: 0.6rem;
  font-size: 0.85rem;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
  color: #000000;
}

.to-cart-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.to-cart-button-container button {
    all: unset;
    cursor: pointer;
    font-size: 2rem;
    color: #000000;
    margin: 1rem;
}

.to-cart-button-container p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1;
}

.product-rate-container {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.product-rate-container label {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
}

.product-edit-card button{
    all: unset;
    cursor: pointer;
    font-size: 2rem;
    color: #000000;
}

.checkout-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 227, 213);
  border: 2px solid rgb(29, 28, 27);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  z-index: 9999;
  max-height: 7rem;
}

.checkout-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.checkout-content p {
  margin: 0;
}

.checkout-content li {
  font-size: clamp(0.9rem, 1vw + 0.5rem, 1.1rem);
}

.total-container {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: clamp(1rem, 1vw + 0.4rem, 1.25rem);

}.total-container p {
  margin-bottom: 0.1rem;
}

.checkout-right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checkout-right button {
  all: unset;
  background-color: #658cbe52;
  color: #fff;
  padding: 0.8rem 1.4rem;
  font-size: clamp(1rem, 1vw + 0.4rem, 1.1rem);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background 0.2s ease;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {

  .product-page {
    padding: 0.5rem;
  }

  .product-card {
    min-width: none;
    width: 90%;
    padding: 0.2rem;
  }

  .product-list {
    gap: 0.5rem;
  }

  .checkout-container {
    width: 75%;
  }

  .checkout-container button {
    font-size: clamp(0.75rem, 2vw + 0.95rem, 1rem);
  }

  .checkout-container ul p {
    font-size: clamp(0.75rem , 2vw + 0.5rem, 1rem);
  }

  .product-search {
    font-size: clamp(0.75rem , 2vw + 0.5rem, 1rem);
    max-width: 100%;
  }

}