.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 300px;
    margin: 2rem auto;
}

.form input {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}